<a href="https://colab.research.google.com/github/TrongAdonis/DataAnalystDeepLearning/blob/main/Lab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
# hàm này để hiển thị các tấm ảnh 
import matplotlib.pyplot as plt
# để chọn ngẫu nhiên các tấm ảnh
import random
# để load dữ liệu trong tập mẫu
from keras.datasets import mnist
# các hàm sau để xây dựng mô hình mạng neural 
# thêm 1 lớp, thêm hàm kích hoạt activation
from keras.models import Sequential
from keras.utils import np_utils
from keras.layers.core import Dense,Activation

In [2]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/carpricesdata.csv")

In [3]:
data.head(5)

   Age     KM  Weight  HP  MetColor    CC  Doors  Price
0   23  46986    1165  90         1  2000      3  13500
1   23  72937    1165  90         1  2000      3  13500
2   24  41711    1165  90         1  2000      3  13950
3   26  48000    1165  90         0  2000      3  14950
4   30  38500    1170  90         0  2000      3  13750

In [4]:
Preditors = ['Age', 'KM', 'Weight', 'HP', 'MetColor', 'CC', 'Doors']
TargetVariable =['Price']

In [5]:
X = pd.DataFrame(data, columns = Preditors)
y = pd.DataFrame(data, columns = TargetVariable)

In [6]:
model= Sequential()
#add vào 1 lớp input,có 10 neural(10 neural) và mỗi neural có 784 input
model.add(Dense(5,input_dim=7,kernel_initializer='normal'))
model.add(Activation('relu'))

In [7]:
# add lớp hidden sẽ tự động lấy đầu vào của lớp đầu, giá trị hiden có thể thay đổi
model.add(Dense(5,kernel_initializer='normal'))
model.add(Activation('relu'))

In [8]:
# add vào lớp đầu ra, bắt buộc là 10 vì số từ 0->9 là 10 số
model.add(Dense(1,kernel_initializer='normal'))
# dùng hàm softmax vì đầu ra là 10 lớp (nhận dạng số 0-9)
# Với các bài toán classification (phân loại) thì nếu có 2 lớp thì hàm activation ở output layer là hàm sigmoid, 
# còn nhiều hơn 2 lớp thì hàm activation ở ouput layer là hàm softmax
model.add(Activation('softmax'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 5)                 40
_________________________________________________________________
activation (Activation)      (None, 5)                 0
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 30
_________________________________________________________________
activation_1 (Activation)    (None, 5)                 0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
_________________________________________________________________
activation_2 (Activation)    (None, 1)                 0
=================================================================
Total params: 76
Trainable params: 76
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.compile(loss='mean_squared_error',optimizer='adam',metrics=['accuracy'])

In [10]:
### Sandardization of data ###
from sklearn.preprocessing import StandardScaler
PredictorScaler=StandardScaler()
TargetVarScaler=StandardScaler()

# Storing the fit object for later reference
PredictorScalerFit=PredictorScaler.fit(X)
TargetVarScalerFit=TargetVarScaler.fit(y)

# Generating the standardized values of X and y
X=PredictorScalerFit.transform(X)
y=TargetVarScalerFit.transform(y)

In [11]:
# Split the data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [12]:
history = model.fit(X_train,y_train,batch_size=20,epochs=5, verbose=1)

Epoch 1/5
1/1 [==============================] - 1s 706ms/step - loss: 1.6587 - accuracy: 0.0000e+00
Epoch 2/5
1/1 [==============================] - 0s 12ms/step - loss: 1.6587 - accuracy: 0.0000e+00
Epoch 3/5
1/1 [==============================] - 0s 9ms/step - loss: 1.6587 - accuracy: 0.0000e+00
Epoch 4/5
1/1 [==============================] - 0s 7ms/step - loss: 1.6587 - accuracy: 0.0000e+00
Epoch 5/5
1/1 [==============================] - 0s 6ms/step - loss: 1.6587 - accuracy: 0.0000e+00

In [13]:

# giá trị thực tế được lưu ở tập t_test
predicted_price=model.predict(X_test)

In [14]:
# Scaling the predicted Price data back to original price scale
predicted_price=TargetVarScalerFit.inverse_transform(predicted_price)

# Scaling the y_test Price data back to original price scale
y_test_orig=TargetVarScalerFit.inverse_transform(y_test)

# Scaling the test data back to original scale
Test_Data=PredictorScalerFit.inverse_transform(X_test)

In [15]:
TestData = pd.DataFrame(data = Test_Data, columns=Preditors)
TestData['Price']=y_test_orig
TestData['PredictedPrice']=predicted_price

In [16]:
TestData

    Age       KM  Weight    HP  ...      CC  Doors    Price  PredictedPrice
0  23.0  72937.0  1165.0  90.0  ...  2000.0    3.0  13500.0    14467.214844
1  30.0  38500.0  1170.0  90.0  ...  2000.0    3.0  13750.0    14467.214844

[2 rows x 9 columns]